<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aconno.blesniffer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <application
        android:name=".BleSnifferApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_sniffer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sniffer_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SettingsActivity"></activity>
        <activity
            android:name=".ui.ScanAnalyzerActivity"
            android:configChanges="screenSize"
            android:icon="@mipmap/ic_launcher_sniffer"
            android:usesCleartextTraffic="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DeserializerListActivity"
         />
        <activity
            android:name=".ui.EditDeserializerActivity"
            android:windowSoftInputMode="stateHidden"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aconno.blesniffer.device.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricAPIKey}" />

    </application>

</manifest>